/*pie de pagina*/
footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.mapa {
  width: 100%;
  text-align: center;
  margin-top: 35px;
}

.redes-sociales {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mapa h3 {
  color: white;
}

.redes-sociales h3 {
  color: white;
}
.redes-sociales ul {
  list-style-type: none;
  padding: 0;
}
.redes-sociales ul li {
  display: inline-block;
  margin-right: 10px;
}
.redes-sociales ul li:last-child {
  margin-right: 0;
}
.redes-sociales ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.hover {
  padding: 8px;
  color: white;
  transition: 0.2s;
}
.hover:hover {
  background-color: #1565c0;
  border-radius: 18px;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: black;
}
.navigation a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

/*barra de navegacion*/
@media (max-width: 768px) {
  header {
    margin-bottom: 150px;
  }
  .navigation {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin: 30px;
    height: 80px;
    margin-bottom: 20px;
  }
  nav ul {
    margin-top: 150px;
    padding-left: 0;
  }
  #about {
    flex-direction: column;
    align-items: center;
  }
}
nav {
  background: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav ul h1 {
  display: flex;
  list-style-type: none;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

/*logo de pagina*/
.logo {
  display: grid;
  margin-right: 100px;
  width: 320px;
  justify-self: start;
  margin-top: 30px;
}

#contacto {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 600px;
}

.contact-info {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: right;
}

.contact-form {
  border: 2px solid white;
  padding: 20px;
  box-shadow: 0 0 10px white;
}
.contact-form input[type=text], .contact-form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100px;
}
.contact-form button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.contact-form button:hover {
  background-color: #1565C0;
}

.textea {
  padding: 20px;
}

.imagen-slide {
  max-width: 80%;
}

#about {
  display: flex;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
#about h2 {
  color: white;
  font-size: 24px;
}
#about h3 {
  color: white;
  font-size: 20px;
  margin-top: 15px;
}
#about p {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}
#about p:hover strong {
  color: #1565C0;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: black;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
}

input[type=text], input[type=email], input[type=password] {
  width: 200%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
input[type=submit]:hover {
  background-color: #1565C0;
}

.card {
  border-radius: 15px;
  border-color: black;
  background-color: black;
}
.card-body h5 {
  font-size: 1, 5rem;
  font-family: "Gill Sans", sans-serif;
  color: white;
}
.card-body p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

body {
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  background-color: black;
  padding: 20px;
  border-bottom: 2px solid black;
}

#container {
  margin: 0px auto;
}
#container h1 {
  text-align: center;
  font-size: 10px;
}

title {
  display: flex;
  justify-content: left;
  padding: 100%;
}

.carousel-inner {
  width: 100%;
  height: 700px;
}

.carousel-item {
  width: 100%;
  height: 700px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mainImage img {
  display: flex;
  margin-right: 50px;
  width: 100%;
  height: auto;
  max-width: 100%;
}

#content {
  display: grid;
  justify-self: center;
  padding: 20px;
}

.article {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
}

#carrusel {
  width: 100%;
  object-fit: cover;
}

#mapa {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 300px;
  border-radius: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.section {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
}
.section h2 {
  text-align: center;
}
.section ul {
  padding-left: 20px;
}

.article {
  background-image: url(../imagenes/fondotext.jpeg);
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
}

#boton-registro {
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: black;
  background-color: #1565C0;
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
