//import
@import "../base/vars";
@import "../base/mixin";
//Estilos para la sección de contacto
#contacto {
  background-color: $color-black;
  color: $color-white;
  padding: $size-medium;
  margin: 0 auto;
  margin-bottom: $size-medium;
  max-width: 600px;
}

.contact-info {
  border: none;
  padding: $size-small;
  margin-bottom: $size-small;
  justify-content: right;
}

.contact-form {
  border: 2px solid $color-white;
  padding: $size-medium;
  box-shadow: 0 0 $size-small $color-white;

  input {
    &[type="text"],
    &[type="email"] {
      width: 100%;
      padding: $size-small;
      margin-bottom: 15px;
      border: 1px solid $color-white;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  textarea {
    width: 100%;
    padding: $size-small;
    margin-bottom: 15px;
    border: 1px solid $color-white;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
  }

  button {
    background-color:$color-black;
    color: $color-white;
    border: none;
    padding: $size-small $size-medium;
    @include rounded-border(4px);
    cursor: pointer;
    font-size: 16px;
    width: 100%;


    &:hover{
      background-color:$color-primary;
    }
  }
}
