//import
@import "../base/vars";
//registrate
.container {
  max-width: 400px;
  margin: $size-large auto;
  padding: 20px;
  background-color:$color-black;
  border: 2px solid $color-white;
  box-shadow: 0 0 10px $color-white;
}

input {
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    width: 200%;
    padding: $size-small;
    margin-bottom: 15px;
    border: 1px solid $color-white;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &[type="submit"] {
    background-color: $color-black;
    color: $color-white;
    border: none;
    padding: $size-small $size-medium;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;

    &:hover {
      background-color:$color-primary;
    }
  }
}
