@import "../base/vars";
//Estilos para la sección "Sobre Nosotros"
.textea {
  padding: $size-medium;
}

.imagen-slide {
  max-width: 80%;
}

#about {
  display: flex;
  background-color: $color-black;
  border: 2px solid $color-white;
  border-radius: $size-small;
  padding: $size-medium;
  margin-bottom: $size-medium;

  h2 {
    color:$color-white;
    font-size: 24px;
  }

  h3 {
    color: $color-white;
    font-size: $size-medium;
    margin-top: 15px;
  }

  p {
    color: $color-white;
    font-size: 16px;
    line-height: 1.5;
    margin-top: $size-small;

    &:hover strong {
      color:$color-primary;
    }
  }
}
